Flask==0.10.1
Flask-PyMongo==0.3.1
gunicorn==19.3.0
pymongo==3.0.1
rdflib==4.2.0
flask-rdf==0.1.6
celery==3.1.18
-e git+https://github.com/avengerpenguin/FuXi.git#egg=FuXi
laconia==0.3.0
httplib2==0.9.1
