Flask==0.10.1
Flask-PyMongo==0.4.1
gunicorn==19.6.0
pymongo==3.2.2
rdflib==4.2.1
flask-rdf==0.2.0
celery==3.1.23
-e git+https://github.com/avengerpenguin/FuXi.git#egg=FuXi
laconia==0.3.0
httplib2==0.9.2
