Flask==0.12
Flask-PyMongo==0.4.1
gunicorn==19.6.0
pymongo==3.4.0
rdflib==4.2.2
flask-rdf==0.2.0
celery==4.0.2
-e git+https://github.com/avengerpenguin/FuXi.git#egg=FuXi
laconia==0.3.0
httplib2==0.10.2
